
html{
  background-color: gray;
}

#todo-list{
  height: 100px;
  width: 300px;
  background-color: aqua;
  margin: auto;
  text-align: center;
  border-radius: 8px;
}

#add-todo{
  cursor: pointer;
}

